<div class="container-fluid" style="padding-top:10px">
    <div class="row">
        <div class="col-lg-8 col-12">
            <div class="info-box bg-dark">
                <div class="info-box-content">
                    <h1>KANBAN</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-12">
            <button id="btn_set_tasks" class="btn btn-primary form-control" type="button">
                Set Tasks
            </button>
        </div>
        <div class="col-lg-2 col-12">
            <button id="btn_get_tasks" class="btn btn-primary form-control" type="button">
                Get Tasks
            </button>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-4 col-12">
            <div class="info-box bg-info">
                <div class="info-box-content">
                    <h3 class="info-box-text">To Do</h3>
                </div>
            </div>
            <div class="card">
                <div id="todo" class="card-body" ondrop="drop(event)" ondragover="allowDrop(event)" style="min-height:65vh">
                    <div id="T0001" class="card" draggable="true" ondragstart="drag(event)">
                        <div class="card-body">
                            <h3>Task 1</h3>
                        </div>
                    </div>
                    <div id="T0002" class="card" draggable="true" ondragstart="drag(event)">
                        <div class="card-body">
                            <h3>Task 2</h3>
                        </div>
                    </div>
                    <div id="T0003" class="card" draggable="true" ondragstart="drag(event)">
                        <div class="card-body">
                            <h3>Task 3</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="info-box bg-warning">
                <div class="info-box-content">
                    <h3 class="info-box-text">In Progress</h3>
                </div>
            </div>
            <div class="card">
                <div id="in_progress" class="card-body" ondrop="drop(event)" ondragover="allowDrop(event)" style="min-height:65vh">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="info-box bg-success">
                <div class="info-box-content">
                    <h3 class="info-box-text">Done</h3>
                </div>
            </div>
            <div class="card">
                <div id="done" class="card-body" ondrop="drop(event)" ondragover="allowDrop(event)" style="min-height:65vh">

                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            GetTasks();
        });

        $('#btn_set_tasks').on('click', function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("SetTasks", "Kanban")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    console.log(response);
                    GenTasks(response);
                }
            });
        });

        $('#btn_get_tasks').on('click', function () {
            GetTasks();
        });

        var tasks = [];
        async function GetTasks() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetTasks", "Kanban")',
	            contentType: 'application/x-www-form-urlencoded',
                data: { },
                success: function (response) {
                    console.log(response);
                    tasks = response;
                    GenTasks();
                }
            });
        }

        function GenTasks() {
            console.log("Generate Tasks");
            $('#todo').find('div').remove();
            $('#in_progress').find('div').remove();
            $('#done').find('div').remove();
            for (var i = 0; i < tasks.lenght; i++) {
                var str = '';
                str += '<div id="' + tasks[i].id + '" class="card" draggable="true" ondragstart="drag(event)">';
                str += '<div class="card-body">';
                str += '<h3>' + tasks[i].name + '</h3>';
                str += '</div></div>';
                if (tasks[i].status == "To_Do") {
                    $('#todo').appendChild(str);
                }
                else if (tasks[i].status == "In_Progress") {
                    $('#in_progress').appendChild(str);
                }
                else if (tasks[i].status == "Done") {
                    $('#done').appendChild(str);
                }
            }
        }

        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            var id_task = document.getElementById(data).id;
            if (ev.target.id == "todo") {
                ev.target.appendChild(document.getElementById(data));
                SetTaskToDo(id_task);
            }
            else if (ev.target.id == "in_progress") {
                ev.target.appendChild(document.getElementById(data));
                SetTaskInProgress(id_task);
            }
            else if (ev.target.id == "done") {
                ev.target.appendChild(document.getElementById(data));
                SetTaskDone(id_task);
            }
        }

        async function SetTaskToDo(id_task) {
            await $.ajax({
                type: "POST",
                url: '@Url.Action("SetTaskToDo", "Kanban")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {
                    id_task
                },
                success: function (response) {
                    console.log(response);
                }
            });
        }

        async function SetTaskInProgress(id_task) {
            await $.ajax({
                type: "POST",
                url: '@Url.Action("SetTaskInProgress", "Kanban")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {
                    id_task
                },
                success: function (response) {
                    console.log(response);
                }
            });
        }

        async function SetTaskDone(id_task) {
            await $.ajax({
                type: "POST",
                url: '@Url.Action("SetTaskDone", "Kanban")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {
                    id_task
                },
                success: function (response) {
                    console.log(response);
                }
            });
        }

    </script>
}